.accordion-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    line-height: 1;
    color: #333;
    font-size: 0.85rem;
    font-weight: 500;
}

.accordion-title-plain {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    line-height: 1;
    color: #333;
    font-size: 0.85rem;
    font-weight: 500;
}

.accordion-title-plain::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: ' ';
}

// #color-accordion-training{
//     a:hover, a:focus {
//         color: #ec008c !important;
//     }
// }

.accordion-content {
    display: none;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    background-color: #fefefe;
    color: #0a0a0a;
    margin-left: 15px;
}

.accordion-menu-header {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 0px 10px 0px;
    margin-bottom: 15px;
  }

.accordion-title:hover, .accordion-title:focus {
    background-color: #fefefe !important;
}
       



// Accordion menu mobile screen

#color-accordion-training-m{
    a:hover, a:focus {
        color: #ec008c !important;
    }
    background-color: #0a0a0a !important;
    .no-sign-plus:before {
        content: '';
    }
}

