.bundle-program-card{
    // box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.bundled-icon{
    width: 100px;
    height: auto;
    margin: 0rem;
}

.bundle-list-title{
    font-size: 0.875rem;
    color: $ios-black;
    font-weight: 500;
    margin-bottom: 3px;
}

.bundle-sidelist-title{
    font-size: 1.2rem;
    color: $ios-black;
    font-weight: 500;
    margin-bottom: 10px;
}

.bundle-requirement-list{
    font-size: 0.9rem;
    color: $ios-black;
}

.bundle-card-padding{
   padding-left: 0.625rem;
   padding-right: 0.625rem;
}

.price-separator{
    border-left: 1px solid #e6e6e6 !important;
}
