

.category-card-title{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.training-category-card{
    border: 0px solid #fafafa;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.button-category{
    font-size: 1.1rem !important;
    color: $ios-black;
}