.label-tnc{
    margin-right: 0 !important;
    line-height: 1;
}

#section-checkout-right{
    padding-top: 0.8rem;
}

.bg-bottom-total{
    background-color: #ccc;
}

.participant-label{
    font-size: 1.25rem;
    color: lighten($ios-black, 0%);
    margin: 1rem 0 1rem 0;
}
.hr-form{
    border-bottom: 1px solid lighten($medium-gray, 10%);
    padding-top: 0.6rem;
}

.stripped-price{
    color: darken($medium-gray, 15%);
}

.thumbnail-checkout{
    height: 50px;
}

.bg-row-total{
    background-color: darken($light-gray, 20%);
    color: $ios-black;
    font-weight: 500;
}

// .confirm-t-qty{
//     width: 50px;
// }

.confirm-t-no{
    width: 50px;
}

.confirm-t-price{
    width: 150px;
}

.disc-label{
    font-size: 0.8rem;
    font-weight: 500;
    color: $ios-black;
}

// Line through color
span.strike-inner {
    color: lighten($ios-black, 5%);
    font-size: 0.75rem;
}
 
span.strike-outer {
    color: $marketeers;
    text-decoration: line-through;
}

.confirm-tax-disc{
    border-bottom: 0px solid #f1f1f1;
    background-color: #f8f8f8;
    color: $ios-black;
    font-weight: 500;
    text-align: right;
    border-bottom: 1px solid #f1f1f1 !important;
}

.confirm-tax-disc-price{
    border-bottom: 0px solid #f1f1f1;
    color: $ios-black;
    font-weight: normal;
    text-align: right;
}

.detail-info-disc{
    font-size: 0.8rem;
    margin-bottom: 0;
    color: darken($medium-gray, 25%);
}

.confirm-tfoot{
    background-color: transparent; 
    border-left: 0px solid white; 
    border-bottom: 0px solid white;
}

.bottom-border{
    border-bottom: 1px solid #f1f1f1 !important;
}

.left-border{
    border-left: 1px solid #f1f1f1 !important;
}

.grand-total{
    color: $ios-black;
    font-weight: 400;
}

.ticket-qty{
    text-align: center;
}

.cancel-item{
    color: get-color(marketeers);
    :hover{
        font-size: 1rem;
    }
}

.alert-promocode{
    padding: 0.5rem;
    font-weight: 400 !important;
}

// Checkout General
.input-qty{
    width: 50px;
    text-align: right !important;
}

// Prosess Wizard
$progress-indicator-complete: darken($medium-gray, 10%);
$progress-indicator-current: darken($medium-gray, 10%);
$progress-indicator-incomplete: darken($light-gray, 5%);
$progress-indicator-step-size: 1.2em;
$progress-indicator-width: 100%;

.progress-indicator {
  list-style: none;
  width: $progress-indicator-width;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 1.5em;

    span {
      position: absolute;
      color: darken($light-gray, 10%);
      transform: translateX(-50%);
      font-weight: 500;
      font-size: rem-calc(12);
      letter-spacing: 0.05px;
      text-transform: uppercase;
    }

    &::before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: $progress-indicator-incomplete;
      width: $progress-indicator-step-size;
      height: $progress-indicator-step-size;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: $progress-indicator-step-size;
      border-radius: 100%;
      position: relative;
      z-index: 1;
      color: lighten(#fff, 0%);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      background: $progress-indicator-incomplete;
      width: 100%;
      height: $progress-indicator-step-size/10;
      top: 50%; // height of bar
      transform: translateY(-100%);
      left: 50%;
      margin-left: 1.5em\9;
      z-index: 0;
    }

    &:last-child:after {
      display: none;
    }

    &.is-complete {
      color: $progress-indicator-complete;

      &::before,
      &::after {
        color: $white;
        background: $progress-indicator-complete;
      }

      span {
        color: $progress-indicator-complete;
      }
    }

    &.is-current {
      color: $progress-indicator-current;

      &::before {
        color: $white;
        background: $progress-indicator-current;
      }

      span {
        color: $progress-indicator-current;
      }
    }
  }
}

/* Small-Medium only */
@media screen and (max-width: 64em) {
    // Prosess Wizard
    $progress-indicator-complete: darken($medium-gray, 10%);
    $progress-indicator-current: darken($medium-gray, 10%);
    $progress-indicator-incomplete: darken($light-gray, 5%);
    $progress-indicator-step-size: 1.6em;
    $progress-indicator-width: 100%;
    .progress-indicator {
        list-style: none;
        width: $progress-indicator-width;
        margin: 0 auto;
        padding: 0;
        display: table;
        table-layout: fixed;
        >li {
            position: relative;
            display: table-cell;
            text-align: center;
            font-size: 1.5em;
            span {
                position: absolute;
                color: darken($light-gray, 10%);
                transform: translateX(-50%);
                font-weight: 500;
                font-size: rem-calc(12);
                letter-spacing: 0.05px;
                text-transform: uppercase;
            }
            &::before {
                content: attr(data-step);
                display: block;
                margin: 0 auto;
                background: $progress-indicator-incomplete;
                width: $progress-indicator-step-size;
                height: $progress-indicator-step-size;
                text-align: center;
                margin-bottom: 0.25em;
                line-height: $progress-indicator-step-size;
                border-radius: 100%;
                position: relative;
                z-index: 1;
                color: lighten(#fff, 0%);
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                background: $progress-indicator-incomplete;
                width: 100%;
                height: $progress-indicator-step-size/10;
                top: 50%; // height of bar
                transform: translateY(-100%);
                left: 50%;
                margin-left: 1.5em\9;
                z-index: 0;
            }
            &:last-child:after {
                display: none;
            }
            &.is-complete {
                color: $progress-indicator-complete;
                &::before,
                &::after {
                    color: $white;
                    background: $progress-indicator-complete;
                }
                span {
                    color: $progress-indicator-complete;
                }
            }
            &.is-current {
                color: $progress-indicator-current;
                &::before {
                    color: $white;
                    background: $progress-indicator-current;
                }
                span {
                    color: $progress-indicator-current;
                }
            }
        }
    }
}


// Thank you page
.ty-page-detail{
    font-size: 0.9rem;
    margin-bottom: 0rem;
    text-align: center;
}

// Similiar Text Label
.similiar-text{
    font-size: 1rem;
    font-weight: 500;
    color: lighten($dark-gray, 25%);
    padding: 0.5rem 0 0.5rem 0;
}

