.floating-action.button {
    // overflow: hidden;
    // width: 56px;
    // height: 56px;
    border-radius: 6px;
    background: #455a64;
    padding: 0.7rem;
    margin: 0;
    .wa-icon{
        width: 15px;
        height: 15px;
        margin-top: -0.1rem;
    }
}

.button:not(.floating-action):active, .dropdown-pane, .floating-action.button, .z-depth-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1), 0 3px 10px 0 rgba(0,0,0,.09);
}

.fixed-bot-right{
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0rem;
    right: 0rem;
    padding: 1.5rem;
    z-index: 10000;
}

.bg-dropdown-wa{
    background: #455a64;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bg-dropdown-white{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.wa-block-contact{
    margin: 1rem 0 0;
    position: relative;
}

.wa-bot-border{
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}

.wa-title{
    font-size: 11px;
    line-height: 100%;
    opacity: 0.5;
    margin-bottom: 0.2rem;
}
.wa-name{
    font-weight: bold;
    color: #414141;
    display: block;
    margin-bottom: 0rem;
}

.dropdown-pane-wa{
    padding: 0rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 0px 0px 0 rgba(0,0,0,0.09);
    border: 1px solid #eeeeee;
    background: #f8f8f8;
    max-width: 400px;
}

.wa-avatar{
    width: 32px;
    margin-right: 3rem;
}

.box {
    border: 1px solid #f8f8f8;
}
  
.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    z-index: 999999 !important;
    right: 1.5rem;
    bottom: -8px;
    border-top: 8px solid #f8f8f8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: none;
}

