.faq-menu{
    padding-top: 1rem;
        li{
            padding: 5px;
            a{
                color: $ios-black;
            }
            a:hover{
                color: get-color(marketeers);
            }
        }
}