.bg-footer{
    background-color:#262525;
    color: #fefefe!important;

    a{
        color: #fefefe;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.4rem 0rem;
    }

    h4{
        font-size: 22px;
        font-weight: 500;
        color: #fefefe;
    }

    p{
        font-size: 1rem;
        color: #ccc;
    }
    .btn-submit-footer{
        height: 39px;
        line-height: 1.5;
        font-size: 1rem;
        background-color: #e6e6e6;
        border: 1px solid #cacaca;
        color: #262525;
        &:hover{
            background-color: $marketeers;
            color: #f3f3f3;
            border: 1px solid $marketeers;
        }
    }
    .footer-email-address{
        height: 39px;
        line-height: 1.5;
        font-size: 1rem;
        background-color: #262525;
        border: 1px solid #cacaca;
        color: #cacaca;
        box-shadow: none;
        margin-bottom: 0;
        border-bottom: 0;

        a{
            color: #cacaca;
        }
    }
}

.logo-footer{
    height: 100px;
}

.copyright{
    background-color: #333;
    p{
        color: darken(#f3f3f3, 20%);
        margin-bottom: 0px;
    }
}


.footer-block{
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer-social:hover {
    background-color: #ec008c;
    border-radius: 50%;
    padding: 5px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-social {
    height: 28px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.input-subscribe-email:focus{
    outline: none;
    border: 1px solid #e6e6e6;
    color: #f3f3f3;
    font-size: 1rem;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    background-color: transparent !important;
    box-shadow: none;
}

footer {
    margin-top: 1em;
}