// Margin and padding helper
// ================================================
.no-bot-margin{
    margin-bottom: 0rem !important;
}

.no-horizontal-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin{
    margin: 0rem !important;
}

.no-top-margin{
    margin-top: 0px !important;
}

.no-padding{
    padding: 0 !important;
}

.no-top-padding{
    padding-top: 0rem;
}

.no-border{
    border: none;
}

hr{
    border-bottom: 1px solid #e6e6e6;
}

.dot-separator{
    font-size: 1.2rem;
    color: lighten($ios-black, 50%);    
    text-align: center;
    font-weight: 500;
}


// Button Styles
// ================================================
.register-button{
    color: $white;
    background-color: #25AAE1;   
}
.register-button:hover, .register-button:focus{
    color: $white;
    background-color: #25AAE1 !important;
}
.button.cancel-button{
    background-color: $white;
    color: $ios-black;
    border: 1px solid #e6e6e6;
}

button[disabled].marketeers{
    background-color: $medium-gray;
}

.button.disabled.marketeers,
.button.disabled.marketeers:hover,
.button.disabled.marketeers:focus,
.button[disabled].marketeers,
.button[disabled].marketeers:hover,
.button[disabled].marketeers:focus {
    background-color: #aaa !important;
    color: #0a0a0a;
}

.button.marketeers {
    background-color: #ec008c;
    color: #f3f3f3;
    font-weight: 500;
}

.button.medium-gray {
    background-color: lighten($ios-black, 20%);
    color: #ffffff;
    font-weight: 500;
}

.button.light-blue {
    background-color: #25AAE1;
    color: #ffffff;
    font-weight: 500;
}

.button.hollow{
    border: 1px solid lighten($dark-gray, 25%);
    color: lighten($dark-gray, 15%);
    font-weight: 400;
    // font-size: 0.975rem;
}

// Forms Style
// ================================================
.login-form{
    border: 1px solid #ccc;
}

.helper-text{
    font-size: 0.8rem;
    color: lighten($ios-black, 20%);
}

select, select:focus {
    // height: 2.4375rem;
    margin: 0 0 0rem;
    // padding: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    color: $ios-black;
}

select[multiple]{
    background-image: none;
}

.select2-selection__choice{
    margin-top: 5px !important;
    border-radius: 8px !important;
}

.select2-search__field{
    margin-bottom: 0px;
}


// Link Style
// ================================================
.small-link{
    font-size: 0.8rem;
}

a:focus {
    outline: 0 !important;
}

// Link Color
// ================================================
.link-black{
    color: #333;  
}

.link-white{
    color: #f3f3f3;
}


.link-black:hover, .link-black:active, .link-black:focus{
    color: get-color(marketeers);
    border: none;
}

.link-magenta{
    color: get-color(marketeers);
}

.link-magenta:hover{
    color: #25AAE1;
}

a:hover, a:focus {
    color: get-color(marketeers);
    // text-decoration: underline;
}

// Typography Styles
// ================================================
p {
    font-size: 0.85rem;
    color: $ios-black;
}

.confirm-page-label{
    font-size: 18px;
}

.text-soft-black{
    color: $soft-black;
}

.text-black{
    color: $ios-black;
}

.text-white{
    color: $white;
}

.text-light-gray{
    color: $light-gray;
}

.text-marketeers{
    color: get-color(marketeers);
}

.label-blank-page{
    font-size: 1.1rem;
    color: $soft-black;
}

.static-page-title{
    font-weight: 500;
    font-size: 2rem;
    color: $ios-black;
}

.text-bold{
    font-weight: 600;
}

.text-semibold{
    font-weight: 500;
}

.text-center{
    text-align: center;
}

ul{
    li{
        font-size: 0.85rem;
        color: $ios-black;
        // margin-left: 1rem;
    }
}

// Icons
// ================================================
.share-icon{
    height: 32px;
}

.confirm-icon{
    width: 150px;
}

.404-icon{
    width: 150px;
}

.contact-us{
    width: 60px;
}

.add-to-cart-icon{
    width: 80px;
}

.share-social:hover {
    background-color: #e7e7e7 !important;
    border-radius: 50%;
    border: 3px solid #646464;
    /* padding: 3px; */
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.share-social {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #e7e7e7 !important;
    border: 3px solid transparent;
    border-radius: 50%;
    /* padding: 3px; */
}


// Background
// ================================================
.no-bg{
    background-color: transparent;
}

.bg-white{
    background-color: #ffffff;
}

.bg-soft-white{
    background-color: #f7f7f7;
}

.bg-light-gray{
    background-color: darken($light-gray, 3%);
}

.bg-sub-gray{
     background-color: #646464;
}

.bg-black{
    background-color: #000 !important;
}

.bg-dark-gray{
    background-color: $dark-gray;
}
.bg-ios-black{
    background-color: $ios-black;
}

.bg-blue{
    background-color: $blue;
}

.bg-green{
    background-color: $green;
}
// Badges
// ================================================
.badge-cart{
    padding: 0.7em;
    min-width: 2.5em;
    font-size: 0.55rem;
    font-weight: bold;
}

.badge-new{
    background-color: #25aae1;
    color: #ffffff;
    border-radius: 0;
    margin-left: 0.5rem;
    padding-bottom: 0.1rem;
    padding-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.badge-default {
    background-color: lighten($ios-black, 15%);
    color: #ffffff;
    border-radius: 0;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.badge-status{
    width: 150px;
    height: 150px;
}


// Border or Frame 
// ================================================
.border-f3{
    border: 1px solid #f3f3f3;
}
.right-border{
    border-right: 1px solid #f3f3f3;
    padding-right: 1rem;
}
.no-left-border{
    border-left: 0px solid white !important;
}

.no-bottom-border{
    border-bottom: 0px solid white !important;
}

// Form
// ================================================
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    outline: none;
    border: 1px solid #cacaca;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    background-color: #fefefe;
    box-shadow: none;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    font-size: 0.875rem;
    color: $ios-black;
}

label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: $ios-black;
}

// Card
.card-blank-page{
    margin-bottom: 0px;
}

// Table
table{
    font-size: 0.875rem;
}

table th{
    color: $ios-black;
}
table thead {
    color: $ios-black;
}

table tfoot {
    color: $ios-black;
}

.no-bottom-border{
    border-bottom: 0px solid #f1f1f1 !important;
}


// Image
.fullwidth-img{
    width: 100% !important;
}

.responsive-img{
    width: 100% !important;
    height: auto;
}

.bank-icon{
    width: 120px;
}


// Breadcrumb general
.breadcrumb-general {
    padding-top: 1.2rem !important;
    // padding-bottom: 0.3rem !important;
    padding-left: 1rem;
    margin-bottom: 0rem;
}