.sub-public-training{
    .dropdown .is-dropdown-submenu a {
        background-color: #646464 !important;
        color: #f3f3f3;
        padding: 0.7rem 1rem;
        :hover {
            background-color: darken(#646464, 10%) !important;
            color: #f3f3f3;
            padding: 0.7rem 1rem;
        }
    }
}

