

// // Mega Menu
// .mega-menu {
//   .dropdown-pane {
//     width: 100%;
//     // max-width: 85rem;
//     margin: 0 !important;
//     left: 0% !important;
//     right: 0% !important;
//     position: absolute;
//     z-index: 10;
//     padding: 0.5rem;
//     border-radius: 0;
//     background-color: #fefefe;
//     font-size: 0.875rem;
//     font-weight: 500;
//   }

//   .menu {
//       li{
//           a{
//             color: #fff;
//           }
//       }
//     // background: none;
//   }

//   > a::after {
//     // display: block;
//     width: 0;
//     height: 0;
//     border: inset 6px;
//     content: '';
//     border-bottom-width: 0;
//     border-top-style: solid;
//     border-color: #1779ba transparent transparent;
//     margin-left: 10px;
//     margin-top: 11%;
//   }
// }

// .top-bar, .top-bar ul {
//   background-color: #000;
// }

// .top-bar{
//   ul {
//       background-color: $white;
//       // color: $warning;
//   }

//   a {
//       color: $dark-gray;
//       transition: color 0.5s ease;
//       display: block;
//   }

//   a:hover {
//       color: #fefefe;
//       transition: color 0.5s ease;
//   }
// }




// .mega-menu {
//   padding:0;
//   margin:0;
//   .dropdown-pane {
//     width: 100%;
//     max-width: 85rem;
//     margin: 0 auto !important;
//     left: 0% !important;
//     right: 0% !important;
//   }

//   .menu {
//     background: none;
//   }

// }

// .top-bar {
//   ul {
//   background-color: #646464;
//   }
//   a{
//     color: #f4f4f4;
//   }
// }
// .mega-menu-color{
//     color: #333 !important;
// }


// // Triangle Dropdown Topbar
// .mega-menu > a::after{
//   border-top-style: none;
//   border-style: none;
//   display: inline;
// }



