.fullscreen-image-slider {
    // padding-left: 1rem;
    .orbit-image {
      width: 100%;
    //   height: 100vh;
      height: auto;
    }
  
    // .orbit-caption {
    //   bottom: 50%;
    //   transform: translateY(50%);
    //   background: none;
    //   text-align: center;
    //   color: $white;
    //   font-weight: bold;
    // }
}

.home-box-separator{
  border-bottom: 3px solid #f3f3f3;
  margin-bottom: 0px;
}
  
.home-box-category{
  background-color: #f3f3f3;
  height: 150px; 
  h2{
    color: #414141;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
  }
}

.orbit-previous, .orbit-next {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  padding: 1rem;
  color: #fefefe;
  cursor: pointer;
}

// Dark Version
// .home-box-separator{
//   border-bottom: 3px solid #313131;
//   margin-bottom: 0px;
// }
  
// .home-box-category{
//   background-color: #313131;
//   height: 150px; 
//   h2{
//     color: #f3f3f3;
//     font-weight: 400;
//     font-size: 1.5rem;
//     font-family: Arial, Helvetica, sans-serif;
//   }
// }
  