.inbox-wrapper{
    ooverflow-y: auto;
    overflow-x: hidden;
    height: 425px!important;
    position: relative;
}
.inbox-separator{
    margin: 1rem 0 0;
    padding-bottom: 0rem;
    border-bottom: 0.0625rem solid #e6e6e6;
}

.inbox-subject{
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    line-height: 1.4;
}

.inbox-date{
    font-size: 0.82rem;
    font-weight: 400;
    color: lighten($ios-black, 25%);
}

.inbox-preview{
    font-size: 0.85rem;
    font-weight: 400;
    color: lighten($ios-black, 5%);
}

.inbox-list{
    overflow-y: scroll;
}

.inbox-sortby-label{
    color: #cacaca;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0;
}
.text-ellipsis {
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    max-height: 1.6em!important;
    white-space: nowrap!important;
}

.inbox-badge {
    background-color: #25aae1;
    color: #ffffff;
    border-radius: 16px;
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.inbox-hover:hover{
    background-color: lighten($medium-gray, 5%) !important;
}