/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 12px solid #e6e6e6;
    border-radius: 50%;
    border-top: 12px solid #ec008c;
    width: 150px;
    height: 150px;
    padding: 1rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#imgLoader{
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 0px transparent;
    border-radius: 0%;
    border-top: 0px transparent;
    width: 150px;
    height: 150px;
    padding: 2rem;
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#mainBody {
    display: none;
}