.title-login{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: $ios-black;
}

.logo-login{
    align-items: center;
    padding-bottom: 0.5rem;
}

.notif-description{
    font-size: 1.3rem;
    color: $ios-black;
}

.frame-top{
    border-top: 5px solid darken($light-gray, 5%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-form{
    border: 1px solid #e6e6e6;
    box-shadow: none !important;
}