/* Small-Medium only */
@media screen and (max-width: 64em) {
    .min-margin-top-1{
        margin-top: -1rem !important;
    }
    .min-margin-top-2{
        margin-top: -2rem;
    }

    .mobile-card-wrapper{
        padding-top: 0.5rem;
        margin-bottom: 0rem;    
    }

    // Paging mobile
    .pagination-circular a {
        border-radius: 0px;
        padding: 0.285em 0.8em;
        border: $pagination-circular-border-thickness solid $pagination-circular-color;
        font-size: $pagination-circular-size;
        background: $pagination-circular-color;
        color: $white;
        font-size: 1.1rem;
    }

    .pagination-circular li.disabled {
        border: $pagination-circular-border-thickness solid $pagination-circular-disabled-color;
        padding: 0.2em 0.8em;
        border-radius: 5000px;
        font-size: $pagination-circular-size;
        font-size: 1.1rem;
    }

    // Checkout process input qty cell
    .input-qty {
        width: 70px;
        text-align: right !important;
    }

    // Checkbox
    [type='file'],
    [type='checkbox'],
    [type='radio'] {
        margin: 0 0 0 0;
        width: 25px;
        height: 25px;
        vertical-align:middle;
    }

    // Filters in mobile
    li{
        label{
            display: inline-block;
            vertical-align:middle;
            margin: 1rem;
        }
    }
    .product-filters .more {
        color: #25aae1;
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: 500;
    }
    // Badge Status
    .badge-status {
        width: 150px;
        height: 150px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .mobile-card-wrapper{
        padding-top: 2rem;    
    }
}

.bg-mobile{
    background-color: darken(#f8f8f8, 5%);
}

.hr-mobile{
    padding-left: 0rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 0.7rem;
    margin-bottom: 0.9rem;
}

.mobile-category-title{
    font-size: 1rem;
    margin-bottom: 0rem !important;
    padding-left: 1rem;
    font-weight: 500;
    color: lighten(#313131, 5%);
}

.mobile-category-subtitle{
    font-size: 1.07rem;
    margin-bottom: 0rem !important;
    font-weight: 400;
    color: lighten(#313131, 5%);
}

.bg-card-separator{
    background-color: #f3f3f3;
    padding: 1rem 0;
    // margin-left: -0.9375rem;
    // margin-right: -0.9375rem;
}

.view-promo-cta{
    font-weight: 500;
    font-size: 0.875rem;
}

.mobile-advanced-filter{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    color: #cacaca;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


// Expanded Select in Mobile Screen
.mobile-select2-container {
    box-sizing: border-box;
    display: inline !important;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.hide-custom{
    display: none;
}

.show-important{
    display: inherit !important;
}

.mobile-category-title{
    padding-left: 0px;
    font-size: 1.59375rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.mobile-breadcrumb {
    padding-top: 1.2rem !important;
    padding-left: 0.7rem;
    margin-bottom: 0rem;
}