.mobile-nav-bar {
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
    a {
      color: $white;
    }
  }

/* Small-Medium only */
@media screen and (max-width: 64em) {
    body{
        padding-top: 0rem;
    }  
    .title-bar {
        padding: 0.5rem;
        background: $black;
        border: 1px solid $black;
    }
    
    // .mobile-main-logo {
    //     height: 40px !important;
    //     margin-left: 0px;
    //     margin-top: 8px;
    // }
    .mobile-searchbar{
        padding: 0.4rem 1rem 1rem 1rem;
        background-color: $black;
        font-size: 1rem;
    }
}

.position-left.is-transition-push {
    box-shadow: none !important;
}


.off-canvas.is-transition-overlap.is-open {
    box-shadow: none;
}

.position-left{
    width: 45%;
}

.mobile-sidebar-menu{
    width: 45%;
    color: #f3f3f3;
    font-size: 1rem;
    background-color: $black;
    a{
        color: #e6e6e6;
        font-weight: 500;
        font-size: 1.15rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-bottom: 1px solid #333333;
    }
    .vertical, .menu, .nested{
        background-color: $black;
        color: #e6e6e6;
        font-weight: 500;
        font-size: 1rem;
        padding-left: 1rem;
        // border-bottom: 1px solid #333333;
    }
}

.mobile-sidebar-menu-light{
    color: #313131;
    font-size: 1rem;
    background-color: #ffffff;
    a{
        color: #313131;
        font-weight: 400;
        font-size: 0.9rem;
        padding: 1.2rem;
        border-bottom: 1px solid #e6e6e6;
    }
    .vertical, .menu, .nested{
        background-color: #ffffff;
        color: #313131;
        font-weight: 400;
        font-size: 0.9rem;
        padding-left: 1rem;
        // border-bottom: 1px solid #333333;
    }
}

.mobile-sidebar-menu-light-b{
    color: #313131;
    font-size: 1rem;
    background-color: #ffffff;
    a{
        color: #313131;
        font-weight: 400;
        font-size: 0.9rem;
        padding: 1rem 0.6rem 1rem 0.3rem;
        border-bottom: 1px solid #e6e6e6;
    }
    .vertical, .menu, .nested{
        background-color: #ffffff;
        color: #313131;
        font-weight: 400;
        font-size: 0.6rem;
        padding-left: 1rem;
        // border-bottom: 1px solid #333333;
    }
}

