$pagination-circular-size: 14px; // controls font and circle size
$pagination-circular-color: #313131;
$pagination-circular-disabled-color: $medium-gray;
$pagination-circular-border-thickness: 0px;


.pagination-circular li.current {
  border: $pagination-circular-border-thickness solid $pagination-circular-color;
  border-radius: 0px;
  padding: 0.2em 0.8em;
  font-size: $pagination-circular-size;
}

.pagination-circular li.disabled {
  border: $pagination-circular-border-thickness solid $pagination-circular-disabled-color;
  padding: 0.2em 0.8em;
  border-radius: 5000px;
  font-size: $pagination-circular-size;
}

.pagination-circular a {
  border-radius: 0px;
  padding: 0.285em 0.8em;
  border: $pagination-circular-border-thickness solid $pagination-circular-color;
  font-size: $pagination-circular-size;
}

.pagination-circular li:not(.disabled):hover a {
  background: $pagination-circular-color;
  color: $white;
}

.pagination-circular li a {
  transition: background 0.15s ease-in, color 0.15s ease-in;
}

.pagination{ 
    .current {
    padding: 0.1875rem 0.625rem;
    background: #313131;
    color: #fefefe;
    cursor: default;
    }
}

.pagination-circular a{

}