.product-card{
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 1rem 1rem 0 1rem;
}
.product-card-title{
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 0;
    color: lighten($ios-black, 3%);
    line-height: 1.29rem;
}

.product-card-subtitle{
    font-size: 0.875rem;
    margin-bottom: 0;
    padding: 0.5rem 0;
}

.product-card-startfrom{
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
    color: $ios-black;
}

.product-card-price{
    font-size: 0.95rem;
    margin-bottom: 0;
    color: lighten($ios-black, 10%);
}

.product-card-button{
    margin: 0;
}


// Magazine
// ======================================
.magazine-month{
    font-size: 1rem;
    font-weight: 500;
    color: $ios-black;
}

.magazine-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: $ios-black;
}

// .magazine-cover{
//     height: 400px;
// }

// .magazine-flip{
//     width: 100%;
//     height: 400px
// }

.magazine-cover{
    height: 400px;
    width: 306px;
}

.magazine-flip{
    width: 100%;
    height: 400px
}



// Button Add to Cart or Buy Now
$button-group-option-font-size: 1rem; // controls size of circle and text of option
$button-group-option-button-gap: 0.35rem;
$button-group-option-button-fontsize: rem-calc(18); // controls size of button and text of button

.button-group-option {
  position: relative;
  align-items: center;
  width: 100%;
  @include button-group;
  @include button-group-expand('.button');

  .button {
    font-size: $button-group-option-button-fontsize;
  }

  &:before {
    content: attr(data-grouptype);
    z-index: 1;
    color: $dark-gray;
    display: inline-block;
    font-size: $button-group-option-font-size;
    padding: 0.25em;
    border-radius: 5000px;
    background: $white;
    @include absolute-center;
  }

  .button + .button {
    margin-left: $button-group-option-button-gap;
  }
}


// Button Add to Cart and Buy Now V2
.button-hover-reveal-wrapper {
    overflow: hidden;
    border: 2px solid $primary-color;
    border-radius: 0;
    text-align: center;
    width: 100%;
    // background: $white;
    display: flex;
    justify-content: center;
  
    &:hover {
      border: none;
      background-color: $primary-color;
      transition: background-color 0.5s ease;
  
      .button-hover-reveal {
        display: block;
        font-size: 16px;
        padding: 22px;
  
        &:hover {
          transition: background-color 0.5s ease;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
  
      label {
        display: none;
      }
    }
  
    .button-hover-reveal {
      display: none;
      color: $white;
      width: 50%;
      z-index: 1;
    }
  
    label {
      padding: 0.5rem;
      color: $primary-color;
      font-size: 16px;
      font-weight: bold;
    }
  }
  
  
  .start-from{
    font-size: 0.8rem;
    color: lighten($ios-black, 10%);
  }

