.status-title{
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    color: get-color(marketeers);
    text-align: center;
}
.status-badge{
    @extend .status-title;
    color: get-color(marketeers);
}

.status-username{
    font-size: 1.3rem;
    font-weight: 500;
    color: $ios-black;
    text-align: center;
    margin-top: 0.9rem;
}

.badge-status{
    width: 150px;
    height: 150px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.title-account-info{
    font-size: 1.3rem;
}

.sub-status-badge{
    font-size: 1.2rem;
    margin: 0;
}

.badge-expired {
    text-align: center;
    font-weight: 500;
    color: lighten($ios-black, 15%);
    font-size: 0.9rem;
    background-color:#e6e6e6;
    padding: 0.5rem 0;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.accordion-title-no-icon::before {
    content: '';
}

.no-top-border{
    border-top: none;
}

.padding-accordion-profil{
    padding: 1rem 1rem 1rem 0 !important;
}

.table-profil{
    font-size: 0.95rem;
    button{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.no-border{
    border: none;
}
