.hero-desc-ptraining{
    color: #ccc;
    font-size: 1rem;
}
.hero-title-ptraining{
    color: #f7f7f7;
    font-weight: 600;
}

.title-public-program{
    font-size: 1.375rem;
}

.desc-public-program{
    color: $ios-black;
    font-size: 0.875rem;
}
