.related-product-title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.related-card-title{
    font-size: 1rem;
    margin-bottom: 0;
}

.related-card-subtitle{
    font-size: 0.875rem;
    margin-bottom: 0;
    padding: 0.5rem 0;
}

.related-card-startfrom{
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0.2rem 0;
    color: $ios-black;
}

.related-card-price{
    font-size: 1rem;
    margin-bottom: 0;
    color: lighten($ios-black, 10%);
}

.related-card-save{
    font-size: 0.75rem;
    margin-bottom: 0;
    color: lighten($ios-black, 20%);
}

.related-card-button{
    margin: 0;
}

.no-vertical-padding{
    padding-top: 0;
    padding-bottom: 1.2rem;
}

// Pindahan inline css di detail public training landing.php
.title-news {
    color: #000;
}

.title-news:focus,
.title-news:hover {
    color: #ec008c;
    text-decoration: none;
}

.lbl-news-detail {
    color: #fff;
}

.lbl-news-detail:focus,
.lbl-news-detail:hover {
    color: #fff;
    text-decoration: none;
}

.title-news-related {
    color: #ec008c;
}

.title-news-related:focus,
.title-news-related:hover {
    color: #ec008c;
    text-decoration: none;
}