$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav-tablet {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

    &.hidden {
        transform: translateY(-100%);
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .tablet-body {
        margin-top: 5.5em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .tablet-body {
        margin-top: 5.5em;
    }
}