body{
    padding-top: 14.5vh;
}

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  transition: 0.5s !important;
  z-index: 2;

  &.hidden {
    transform: translateY(-100%);
  }
}

.hide-sub-menu{
    display: none;
    // visibility: hidden;
}

.show-sub-menu{
    display: block;
    // visibility: visible;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .bg-tab{
        display: none;
    }
    body{
        padding-top: 5.4em;
    }
}

// Medium screens
@media only screen and (min-width: 40.063em) { 
    body{
        padding-top: 9.4em;
    }
    .featured-margin-on-medium{
        margin-bottom: 0;
    }
} /* min-width 641px, medium screens */


