.input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label{
    height: 2.75rem;
}

.bg-subscribe{
    background-color: #25AAE1;
    color: $white;
}

.subscribe-tagline-title{
    font-size: 1rem;
    color: $white;
}