.tablet-button {
    padding: 1rem;
    font-size: 1rem;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
    border-color: #ffffff transparent transparent;
}

.m-side-menu-icon {
    width: 2.2rem;
    margin-right: 1rem;
}

.m-side-menu-icon-book {
    width: 2.1rem;
    margin-right: 1rem;
}

.accordion-menu .is-accordion-submenu a {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.accordion-menu .nested.is-accordion-submenu {
    margin-left: 2.8rem;
}

.mobile-sidebar-logo {
    width: 17.5rem;
    background-color: $black;
}

.mobile-mhome-logo {
    width: 300px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mobile-nav-bar {
    height: 90px !important;
}

.tablet-dd {
    a {
        padding: 1rem;
        font-size: 1.1rem;
    }
}

.bg-mcard {
    background: #25AAE1;
    border-radius: 3px;
}

.borderless {
    border: 0px solid white;
}

/* Small-Medium only */
// @media screen and (max-width: 64em) {
/* Medium and up */
@media screen and (min-width: 40em) {
    label>input:checked+img {
        /* (RADIO CHECKED) IMAGE STYLES */
        border: 3px solid #ec008c;
    }
}

sudo npm cache clean -f .vertical-align-top {
    vertical-align: top;
}

.list-type-icon {
    width: 58px;
}

.list-type-icon-b {
    width: 48px;
}

.class-type-icon {
    width: 92px;
    padding: 0.5rem;
}

.class-type-icon-b {
    width: 82px;
    padding: 0.5rem;
}

.pagination-circular a {
    border-radius: 0px;
    padding: 0.285em 0.8em;
    border: 0px solid #313131;
    font-size: 14px;
    background: #fff;
    color: #313131;
    font-size: 1.1rem;
}

.cat-list-mobile {
    margin-bottom: 1rem;
}

.desc-mobile {
    font-size: 0.875rem;
}

[type='search'] {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.search-topbar-tablet::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-size: 1.2rem;
    padding-right: 0.5rem;
    text-align: right;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: lighten($dark-gray, 20%);
}

.search-topbar-tablet::-moz-placeholder {
    font-family: FontAwesome;
    text-align: right;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: lighten($dark-gray, 20%);
}

.search-topbar-tablet:-ms-input-placeholder {
    font-family: FontAwesome;
    text-align: right;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: lighten($dark-gray, 20%);
}

.dd-menu-user {
    padding: 0 1rem 0.5rem 1rem;

    li>a,
    a:active,
    a:focus {
        color: #313131;
        font-size: 1rem;
        border-bottom: 1px solid #f3f3f3;
        padding: 1.6rem 1.2rem;
        text-align: left;
    }
}

.login-icon {
    padding: 0.8rem 0.6rem !important;
}

// .search-topbar{
//     font-size: 1.1rem;
//     text-transform: uppercase;
// }
.bg-mhome {
    background: #0a0a0a;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.8rem;
}

.title-bar {
    padding: 0.5rem;
    background: #0a0a0a;
    border: 1px solid #0a0a0a;
}

.title-big-mhome {
    color: #f5f5f5;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.icon-mhome {
    padding: 1rem 0;
}

.desc-mhome {
    font-size: 1rem;
    color: #f5f5f5;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}

// Home-bg/hero
/* Small-Medium only */
// @media screen and (max-width: 64em) {
/* Medium and up */
@media screen and (min-width: 40em) {
    body {
        padding-top: 0em;
    }

    // $hero-full-screen-bg: url('https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
    $hero-full-screen-bg: url('../img/homepage-mobile/bg_merchant_grad.jpg') center center no-repeat;
    // $hero-full-screen-bg: #0a0a0a;
    $hero-full-screen-bg-size: cover;
    $hero-full-screen-text-color: $white;

    .hero-full-screen {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $hero-full-screen-bg;
        background-size: $hero-full-screen-bg-size;

        .middle-content-section {
            text-align: center;
            color: $hero-full-screen-text-color;
        }

        .top-content-section {
            width: 100%;
        }

        .bottom-content-section {
            padding: 1rem;

            svg {
                height: rem-calc(60);
                width: rem-calc(60);
                fill: $hero-full-screen-text-color;
            }
        }
    }

    .sr-label {
        margin-bottom: 0;
        font-size: 1.1rem;

        span {
            color: #ec008c;
            font-weight: 500;
        }
    }

    .bot-border-only {

        select,
        select:focus {
            text-transform: uppercase;
            border: none;
            border-bottom: 0px solid #cacaca;
        }
    }

    .sr-cat-title {
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    .mobile-main-logo {
        height: 60px !important;
        padding: 0.6rem;
    }
}

// Searchbar in home
.search-big-mhome {
    .input-group-rounded {
        .input-group-field {
            border-radius: 3px 0 0 3px;
            height: 60px;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #464646;
            padding: 1rem;
        }

        .input-group-button .button {
            border-radius: 0 3px 3px 0;
            font-size: 0.8rem;
            background: #ec008c;
            height: 60px;
        }
    }

    .search-icon-mhome {
        width: 28px;
    }
}