// Fix desktop and mobile header in the same time issue
.no-js {
    @include breakpoint(small only) {
      .top-bar {
        display: none;
      }
    }
  
    @include breakpoint(medium) {
      .title-bar {
        display: none;
      }
    }
  }

.bg-topbar{
    background-color: #000000 !important;
}

.bg-tab{
    background-color: #262525;
}

.bg-act-tab{
    background-color: #646464;
}

.sub-menu{
    font-size: 0.9rem;
    background-color: #646464; 
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.searchbar{
    margin-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.tabs-title {
    a {
        display: block;
        padding: 1.25rem 1.5rem;
        font-size: 0.9rem;
        line-height: 1;
        color: #fefefe;
    }
    a:hover {
        background-color: #646464 !important;
        color: #fefefe;
    }
}

.tabs{
    border: none;
}

.tabs-content {
    border: 0px solid #e6e6e6;
    border-top: 0;
    transition: all 0.5s ease;
}

.tabs-panel {
    display: none;
    padding: 0.5rem;
    .menu{
        li{
            font-size: 0.9rem;
        }
    }
}

.menu .is-active > a {
    background:#646464;
    color: #fefefe;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #646464;
    color: #fefefe;
}

.cart-icon{
    padding: 0.8rem 0.8rem !important;
    // margin: 0 !important;
    .fa{
        font-size: 1.5rem;
    }
}

.login-icon{
    padding: 0.8rem 1.5rem !important;
    // margin: 0 !important;
    .fa{
        font-size: 1.5rem;
    }
}

.badge.marketeers {
    color: #fefefe;
}

.top-bar input {
    max-width: 100%;
}

.filter-category{
    max-width: 150px !important; 
    height: auto;
    color: #646464;
}

.fa {
    .fa-shopping-cart {
    font-size: 1.2rem !important;
    }
}


// Menu on mobile screen
/* Small only */
@media screen and (max-width: 39.9375em) {
    .top-bar ul {
        background-color: #000000;
    }
}


.login-name-label{
    padding-left:10px;
}

.cart-icon-hollow{
    height: 28px;
}

.user-icon-hollow{
    height: 28px;
}

.search-icon-hollow{
    height: 29px;
}


// Search input in topbar
#min-width-search{
    min-width: 22rem;
}


// Main Logo
.main-logo{
    height: 100px;
    padding: 15px;
    cursor: pointer;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    .main-logo {
        height: 70px !important;
        padding-top: 5px !important;
        margin-left: 20px;
    }
    .menu-icon {
        padding-left: 25px;
        padding-top: 15px;
    }
}

// New Scroll Hiding Menu
$scrollhide-nav-transition-speed: 1s;
.scrollhide-nav {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);
    &.hidden {
        transform: translateY(-100%);
    }
}

// Breadcrumb Section - Traininig only
.breadcrumb-training {
    padding-top: 1.2rem !important;
    // padding-bottom: 0.3rem !important;
    padding-left: 1rem;
}

$dropdown-bgcolor: #646464;

// Overide value dropdon element
.main-menu-row{
    padding: 0; 
    margin: 0;
    outline: 0;
    line-height: 2;
    ul{
        li{
            margin-top: 0 !important;
            ul{
                background-color: $dropdown-bgcolor;
                border: 0px solid $dropdown-bgcolor;
                li{ 
                    padding: 0.3rem 0rem 0.3rem 0rem;
                    margin-bottom: 0.3rem;
                    margin-top: 0.3rem;
                    a{
                        color: #fefefe;
                        font-size: 0.93rem;
                        margin-top: 0px;
                        ul{
                            li{
                                padding: 0.3rem 0rem 0.3rem 0rem;
                                margin-bottom: 0.3rem;
                                margin-top: 0.3rem;
                                a{
                                    color: #fefefe;
                                    font-size: 0.93rem;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
            ul:hover{
                li:hover{ 
                    display: block;
                    // padding: 1.25rem 1.5rem;
                    font-size: 0.9rem;
                    line-height: 1;
                    background-color: darken(#646464, 5%);
                    margin-bottom: 0.3rem;
                    margin-top: 0.3rem;
                    a:hover{
                        // color: $ios-black;
                        font-size: 0.93rem;
                        ul:hover{
                            li:hover{
                                padding: 0.3rem 0rem 0.3rem 0rem;
                                margin-bottom: 0.3rem;
                                margin-top: 0.3rem;
                                a:hover{
                                    color: #fefefe;
                                    font-size: 0.93rem;
                                }
                            }
                        }
                    }
                }
            }
            a{
                color: #fefefe;
                margin-right: 1.5rem;
                font-size: 0.95rem;
                margin-top: 8px;
            }
        }
    }
    ul{
    li:hover{
        margin-top: 0 !important;
        background-color: #646464;}
    }
    // Dropdown caret
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #cecece transparent transparent;
        right: 5px;
        margin-top: -3px;
    }
}

.top-bar{
    padding-top: 0px;
    padding-bottom: 0px;
}