.top-program-title{
    font-size: 1.7rem;
}

.button-browse-program{
    font-size: 1rem;
}

.tab-top-program{
    margin: 0;
    background-color: transparent;
    list-style-type: none;
    .tabs-title a {
        display: block;
        padding: 12px;
        font-size: 1.1rem;
        line-height: 1;
        color: $ios-black;
        // outline: 12px solid #ffffff;
    }
    .tabs-title a:hover{
        background: transparent !important;
        color: $ios-black;
        line-height: 1;
        padding:12px;
        // border-top: 3px solid $light-blue;
        border-bottom: 4px solid $light-blue;
        outline: 12px solid #ffffff;
    }
    .tabs-title a:focus{
        outline: 12px solid #ffffff;
    }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
        background: transparent;
        color: $ios-black;
        line-height: 1;
        padding:12px;
        // border-top: 3px solid $light-blue;
        border-bottom: 4px solid $light-blue;
        // outline: 2px solid #ffffff;
    }
}