.price-line{
    padding: 1rem 0.5rem 0 0;
    font-size: 0.875rem;
}

.days-n-location{
    color: get-color(marketeers);
    font-weight: 400;
}

.list-title-line{
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 400;
    color: get-color(marketeers);
}

.list-subtitle-line{
    font-size: 0.975rem;
    margin-bottom: 0;
    font-weight: 500;
}

.list-register-btn{
    margin-top: 0.75rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.sortby{
    font-size:0.8rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.wrapper-list-cover{
    position: relative;
    display: inline-block;
}

.badge-icon{
    width: 32px;
    padding: 1px;
}

.cover-badge-new {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: .8em;
    display: inline-block;
    padding: 1.45em 0.7em;
    border-radius: 50%;
    font-weight: 500;
    text-align: center;
    background: #4caf50;
    color: #fefefe;
    line-height: 1;
}

.cover-badge-recommended {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: .8em;
    display: inline-block;
    padding: 0.7em 0.7em;
    border-radius: 50%;
    text-align: center;
    background: #f5851f;
    color: #fefefe;
    line-height: 1;
}

.cover-badge-favorite {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: .8em;
    display: inline-block;
    padding: 0.7em 0.7em;
    border-radius: 50%;
    text-align: center;
    background: #f44336;
    color: #fefefe;
    line-height: 1;
}

/* Small-Medium only */
@media screen and (max-width: 64em) {
    .list-title-line {
        font-size: 1.2rem;
        line-height: 1.3;
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: $ios-black;
    }

    .list-subtitle-line {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 400;
    }
}