.wrapper-table-location-training{

    padding:0;
    margin:0;
    table tbody th, table tbody td {
        padding: 1rem;
    }

    .training-table-date{
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 0;
        color: #333;
        .time{
            font-weight: 400;
        }
    }

    .training-table-city{
        font-size: 0.95rem;
        font-weight: 500;
        margin-bottom: 0;
        color: #333;
        line-height: 1.5;
        margin-bottom: 0.3rem;
    }

    .training-table-location{
        font-size: 0.85rem;
        margin-bottom: 0;
        font-weight: 400;
    }

}