	<style>
        .cssSlideUp {
            transition: .1s linear all;
            overflow: hidden;
            display:block;
        }
        .cssSlideUp.ng-hide {
            height:0;
        }
        .sub_topic{
        cursor: pointer; cursor: hand;
        }
        .social svg {
          width: 25px;
          height: 25px;
          margin: 0 10px;
        }
        .alert {
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 4px;
        }
        .alert h4 {
          margin-top: 0;
          color: inherit;
        }
        .alert .alert-link {
          font-weight: bold;
        }
        .alert > p,
        .alert > ul {
          margin-bottom: 0;
        }
        .alert > p + p {
          margin-top: 5px;
        }
        .alert-dismissable,
        .alert-dismissible {
          padding-right: 35px;
        }
        .alert-dismissable .close,
        .alert-dismissible .close {
          position: relative;
          top: -2px;
          right: -21px;
          color: inherit;
        }
        .alert-success {
          color: #3c763d;
          background-color: #dff0d8;
          border-color: #d6e9c6;
        }
        .alert-success hr {
          border-top-color: #c9e2b3;
        }
        .alert-success .alert-link {
          color: #2b542c;
        }
        .alert-info {
          color: #31708f;
          background-color: #d9edf7;
          border-color: #bce8f1;
        }
        .alert-info hr {
          border-top-color: #a6e1ec;
        }
        .alert-info .alert-link {
          color: #245269;
        }
        .alert-warning {
          color: #8a6d3b;
          background-color: #fcf8e3;
          border-color: #faebcc;
        }
        .alert-warning hr {
          border-top-color: #f7e1b5;
        }
        .alert-warning .alert-link {
          color: #66512c;
        }
        .alert-danger {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
        }
        .alert-danger hr {
          border-top-color: #e4b9c0;
        }
        .alert-danger .alert-link {
          color: #843534;
        }
        .aoa_overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,0.8);
        z-index:9999;
        color:#000000 ;
        overflow:hidden;
}
#aoa55a92 {
        background: rgba(255, 255, 255, 0.78);
}

.aoa_wrap {
        position: relative;
        z-index:0;
}
.aoa_object {
        display: inline-block;
        width:100%;
        text-align:center;
        vertical-align:middle;
        overflow:hidden;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 252, 252, 1);
    z-index: 99999;
    cursor: pointer;
}
#imgLoader{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
	</style>